.gradle/
build/
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
app/build/
/app/build/
/build/
app/build
app/build/*
/app/build
/build
/*/out
/*/build
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
